/* Allgemeine Formatierung */

body {
    background-color: white;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;
}

.container i {
    margin-right: 5px;
    margin-left: 5px;
}


/* Header 

header {
    text-align: center;
    margin: 0px;
}*/

h1 {
    margin: 0;
    font-size: 48px;
    text-align: center;
    flex-basis: 30%;
    padding-right: 20px;
}

h2 {
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

h4 {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}

p {
    font-size: 16px;
    margin-left: 6px;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #F39C12;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    flex-wrap: nowrap;
}

.borderline {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}


/* Person Information, Work Experience, Training, Education, School, qualifikationen, skills, projects */

.person-info,
.work-experience,
.training,
.education,
.school,
.qualifikationen,
.skills,
.projects {
    background-image: url("imags/leather.png");
    align-content: center;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
    width: 98%;
}

.person-info img {
    display: block;
    text-align: center;
    width: 350px;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
}


/* Icons: width: 20px; display: flex;*/

.fa {
    color: rgb(39, 174, 96);
}

.barhoriz {
    width: 50%;
    background-color: #eee;
    height: 16px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    overflow: hidden;
}

.hprogress {
    height: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 0 0 2px #222;
    line-height: 13px;
    text-align: center;
    color: #fff;
    padding: 2px;
}

.hprogress100 {
    width: 100%;
}

.hprogress90 {
    width: 90%;
}

.hprogress80 {
    width: 80%;
}

.hprogress70 {
    width: 70%;
}

.hprogress60 {
    width: 60%;
}

.hprogress50 {
    width: 50%;
}

.hprogress40 {
    width: 40%;
}

.hprogress30 {
    width: 30%;
}

.hprogress20 {
    width: 20%;
}

.hprogress10 {
    width: 10%;
}

.bargreen {
    background-color: #4CAF50;
}


/* Footer */

.footer {
    width: 100%;
    background-image: url("imags/leather-lightgreen.png");
    color: white;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}

.footer .fa {
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.footer-social-media {
    width: 100%;
}

.footer h4 {
    margin: 0;
}

.footer-icon {
    display: inline-block;
    margin: 5px;
    width: 30%;
}

.footer-icon a {
    color: #333;
}

.hoster {
    margin-left: 0;
    text-align: center;
    width: 100%;
}


/* Responsive Media Queries für mobile Geräte */

@media (max-width: 600px) {
    .container {
        flex-direction: row;
    }
    .container i {
        margin-right: 0;
        margin-left: 0;
    }
    .row {
        flex-wrap: wrap;
        width: 98%;
    }
    h1 {
        font-size: 32px;
        padding-right: 0;
    }
    p {
        font-size: 14px;
    }
    .person-info img {
        width: 200px;
        margin: 10px auto 0 auto;
    }
    .person-info,
    .work-experience,
    .training,
    .education,
    .school,
    .qualifikationen,
    .skills,
    .projects {
        width: 98%;
    }
    .barhoriz {
        width: 90%;
    }
}


/* Media Queries für Tablets */

@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        flex-direction: row;
    }
    .container i {
        margin-right: 5px;
        margin-left: 5px;
    }
    .row {
        flex-wrap: wrap;
        width: 98%;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 16px;
    }
    .person-info img {
        width: 250px;
        margin: 10px auto 0 auto;
    }
    .person-info,
    .work-experience,
    .training,
    .education,
    .school,
    .qualifikationen,
    .skills,
    .projects {
        width: 48%;
    }
    .barhoriz {
        width: 70%;
    }
}


/* Media Queries für Desktop */

@media (min-width: 1025px) and (max-width: 1440px) {
    .container {
        flex-direction: row;
    }
    .container i {
        margin-right: 5px;
        margin-left: 5px;
    }
    .row {
        flex-wrap: wrap;
        width: 98%;
    }
    h1 {
        font-size: 48px;
    }
    p {
        font-size: 16px;
    }
    .person-info img {
        width: 350px;
        margin: 10px auto 0 auto;
    }
    .person-info,
    .work-experience,
    .training,
    .education,
    .school,
    .qualifikationen,
    .skills,
    .projects {
        width: 30%;
    }
    .barhoriz {
        width: 50%;
    }
}